body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

main.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.encuadernacion {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}

.encuadernacion img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h2 {
    margin-top: 10px;
}

.precio {
    font-weight: bold;
    color: #008000; /* Verde para el precio */
}

button {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}